.outlet-container {
  display: flex;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer {
  background-color: var(--primary-opaque);
  border-top: 0.2rem solid var(--primary-purple);
  color: var(--primary-purple);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}
