.outlet-container {
  padding-left: 10vw;
  padding-right: 10vw;
  height: 88.6vh;
}
.outlet-container > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.purple-outlet {
  background: var(--primary-gradient-2);
  border-radius: 0rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: var(--opaque-purple);
  border-top: 0.2rem solid var(--primary-purple);
  color: var(--primary-purple);
  border-radius: 0rem;
}

.purple-footer {
 background-color: transparent;
 border: none;
}
