.outlet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76vh;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: var(--opaque-purple);
  border-top: 0.2rem solid var(--primary-purple);
  color: var(--primary-purple);
}
