.input-group label {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: var(--primary-white);
  font-weight: 500;
  text-transform: capitalize;
}
.input-group input {
  background-color: transparent;
  border: 0.2rem solid var(--primary-blue);
  color: var(--primary-white);
  padding: 1rem;
  width: 50rem;
}
.input-group input:focus {
  outline: none;
}
.error-message {
  color: var(--primary-red);
  font-size: 1.2rem;
}
