.input-group {
  padding-bottom: 2rem;
}
.input-group label {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--primary-white);
  font-weight: 500;
}
.input-group input {
  background-color: var(--opaque-blue);
  border: 0.2rem solid var(--primary-blue);
  color: var(--primary-white);
  padding: 1rem;
  width: 30rem;
  height: 4rem;
}
.input-group input:focus {
  outline: none;
}
.input-group button {
  position: relative;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  width: 2rem;
  color: var(--primary-blue);
  left: 12rem; 
  bottom: 3.8rem;
}
.error-message {
  margin-top: 0.4rem;
  margin-bottom: -0.8rem;
  color: var(--primary-red);
  font-size: 1.4rem;
}
