.signup-form-container {
	padding: 5rem;
	border: 0.2rem solid var(--primary-blue);
	border-radius: 1rem;
	width: 40rem;
}
.signup-form-container h2 {
	font-size: 4rem;
	text-align: center;
	padding-bottom: 4rem;
	color: var(--primary-white);
}
.signup-form-container button {
	margin-top: 1rem;
	width: 30rem;
}

