* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 0.4rem;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-purple: #BC75F9;
  --primary-blue: #3a6cff;
  --primary-red: #ff002b;
  --primary-green: #4ce5b4;
  --primary-box-shadow: 0.6rem 0.5rem 5rem var(--primary-white);
  --opaque-purple:  rgba(140, 31, 208, 0.3);
  --opaque-blue:  rgba(49, 31, 208, 0.3);
  --opaque-green: rgba(31, 208, 52, 0.3);
  --opaque-red: rgba(191, 27, 27, 0.3);
  --primary-gradient: linear-gradient(180deg, rgba(140, 31, 208, 0.2), rgba(142, 78, 199, 0.6));
  /* --primary-gradient: linear-gradient(180deg,  rgba(142, 78, 199, 0.6), rgba(140, 31, 208, 0.2)); */
  /* background: linear-gradient(80deg, #00218A, white, #BC75F9); */
  background: black;
  box-sizing: border-box;

}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

html {
  font-size: 62.5%;
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary-black) inset !important;
    -webkit-text-fill-color: var(--primary-white) !important;
}
