
.dashboard-container {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
}
ul{
    color: white;
}
.trades-table {
    width: 70%;
    background-color: var(--opaque-purple);
    color: var(--primary-white);
    border: 0.1rem solid var(--primary-purple);
    border-spacing: 0 0.2rem;
    overflow: hidden;
}
.trades-table .trades-table-row ,
.trades-table .trades-table-header{
    font-size: 1.6rem;
    background-color: var(--opaque-white-1);
    border-radius: 0;
    text-align: left;
}
.trades-table td, .trades-table th {
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0;
}
.green-side {
    color: var(--primary-green);
}
.red-side {
    color: var(--primary-red);
}
.dashboard-data-container{
    margin-bottom: -4rem;
}
.dashboard-data {
    padding: 4rem;
    padding-right: 10rem;
    background: var(--opaque-purple);
    color: var(--primary-white);
    margin-bottom: 4.2rem;
    border: 0.1rem solid var(--primary-purple);

}
.trades-table-row-empty {
    font-size: 1.6rem;
    border-radius: 0;
    height: 2.6rem;
}