
.leaderboard-container {
  width: 100%;
  /* height: 100%; */
  height: auto;
  display: flex;
  flex-direction: column;
}
.leaderboard-container ul{
    padding-top: 10rem;
    color: white;
}
.leaderboard-container .leaderboard-row {
    width: 100rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--opaque-purple);
    margin-bottom: 2rem;
}
.leaderboard-row .profile-pic {
    border: 0.2rem solid var(--primary-purple);
    padding: none;
    margin-right: 2rem;
}
.position-num {
    font-size: 4rem;
    padding-left: 1rem;
}
.leaderboard-row .user-name {
    padding-top: 1.6rem;
}
.leaderboard-row .user-pnl {
    padding-top: 1.2rem;
    font-size: 2.6rem;
    padding-right: 2rem;
}
.leaderboard-titles {
    display: flex;
}