.styled-button {
	padding: 1.4rem;
	width: 20rem;
	border: none;
	font-weight: 600;
	font-size: 2rem;
}
.styled-button.dark {
	background-color: var(--primary-opaque);
	color: var(--primary-purple);
	border: 0.2rem solid var(--primary-purple);
}
.styled-button.light {
	background-color: var(--primary-purple);
	border: 0.2rem solid var(--primary-purple);
	color: black;
}
.styled-button.blue {
	background-color: var(--opaque-blue);
	border: 0.2rem solid var(--primary-blue);
	color: var(--primary-blue);
}
.styled-button:hover {
	transform: translateY(-0.4rem);
}
.styled-button.green {
	background-color: var(--opaque-green);
	border: 0.2rem solid var(--primary-green);
	color: var(--primary-green);
}
.styled-button.red {
	background-color: var(--opaque-red);
	border: 0.2rem solid var(--primary-red);
	color: var(--primary-red);
}
