.styled-button {
    padding: 1.4rem;
    width: 20rem;
    border: none;
    font-weight: 600;
}
.styled-button.dark {
    background-color: var(--primary-opaque);
    color: var(--primary-purple);
    border: 0.2rem solid var(--primary-purple);
}
.styled-button.light {
    background-color: var(--primary-purple);
    border: 0.2rem solid var(--primary-purple);
    color: black;
}
/* .styled-button.light {
    background-color: #479aff;
    border: 0.2rem solid #479aff;
    color: black;
} */
.styled-button.colored {
    background-color: #3746e8 !important;
}

.styled-button:hover {
    transform: translateY(-0.4rem);
}
