.login-form-container {
  width: 40rem;
  padding: 5rem;
  border: 0.2rem solid var(--primary-blue);
  border-radius: 1rem;
}
.login-form-container h2 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 4rem;
  color: var(--primary-white);
}
.login-form-container button {
  margin-top: 2rem;
  width: 30rem;
  padding: 1rem
}
.credentials-err{
  color: var(--primary-red);
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: -2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--primary-black) inset !important;
    -webkit-text-fill-color: var(--primary-white) !important;
}
