.login-container {
  width: 100%;
  height: 100%;
}
.login-form-container {
  width: 44rem;
  padding: 7rem;
  border: 0.1rem solid var(--opaque-white-2);
  background-color: var(--opaque-white-1);
  margin-top: -16rem;
}
.login-form-container h2 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 4rem;
  color: var(--primary-white);
}
.login-form-container button {
  margin-top: 2rem;
  width: 30rem;
  padding: 1rem;
}
.credentials-err {
  color: var(--primary-red);
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: -2rem;
}
.login-form-container .signup-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.2rem;
}
.login-form-container .signup-link-container h6{
  color: var(--opaque-white-3);
  font-size: 1.6rem;
}
.login-form-container .signup-link-container .signup-link {
  color: var(--primary-white);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  font-weight: 400;
  margin-left: 0.8rem;
}