.single-story-container {
  height: 30rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 2rem;
}
/* .single-story-container:hover {
  transform: translateY(-4px);
} */
.single-story-container h2 {
  font-size: 3rem;
}
.single-story-container h3,
p {
  font-size: 2rem;
}
.single-story-text {
  padding: 3rem;
}
.single-story-container .red-background {
  background-color: var(--primary-red);
}
.single-story-container .green-background {
  background-color: var(--primary-green);
}
