.stories-container {
  height: auto;
  padding-bottom: 10rem;
  padding-top: 4rem;
  width: 80vw;
  margin-left: 10vw;
}
.manage-stories {
  height: auto;
  padding-bottom: 10rem;
}
.stories-header {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
  padding-bottom: 3.2rem;
}
.stories-header h2 {
  font-size: 3.6rem;
}
.inner-stories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 1rem;
}
